#ACTION=="remove", SUBSYSTEMS=="usb", ENV{ID_VENDOR_ID}=="VENDOR_IDV", ENV{ID_MODEL_ID}=="DEVICE_IDV", RUN+="/usr/local/bin/usb-lock.sh lock"
#ACTION=="change", SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/local/bin/usb-lock.sh shutdown"
