[Unit]
Description=USB Capture Listener
After=display-manager.service
	
[Service]
ExecStart=/usr/local/bin/usb-capture-listener.sh
User=mat
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/mat/.Xauthority
Restart=always

[Install]
WantedBy=graphical.target
