[Unit]
Description=USB Capture Listener
After=display-manager.service
	
[Service]
ExecStart=/usr/local/bin/usb-capture-listener.sh
User=WHOAMI
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/WHOAMI/.Xauthority
Restart=always

[Install]
WantedBy=graphical.target
